$primary-color: #adadaf;
$primary-font:"Hind", sans-serif;
%liststyle  {margin: 0px;padding: 0px; list-style: none;}
%shadow-btm{ -webkit-box-shadow: 0px 9px 10px -9px rgba(214,214,214,1);
    -moz-box-shadow: 0px 9px 10px -9px rgba(214,214,214,1);
    box-shadow: 0px 9px 10px -9px rgba(214,214,214,1);}
%shadowbtm2{
 -webkit-box-shadow: 0px 4px 13px 1px rgba(214,214,214,1);
-moz-box-shadow: 0px 4px 13px 1px rgba(214,214,214,1);
box-shadow: 0px 4px 13px 1px rgba(214,214,214,1);

}
%placeholder{color: #858585; font-weight: 400; font-size: 12.7px;}
$clear :both;
$linkcolor:#adadaf;
@mixin border-box(){
    -webkit-box-shadow: 0px 9px 10px -9px rgba(214,214,214,1);
    -moz-box-shadow: 0px 9px 10px -9px rgba(214,214,214,1);
    box-shadow: 0px 9px 10px -9px rgba(214,214,214,1);
}
@mixin bradius($rds){
    -webkit-border-radius:$rds;
    -moz-border-radius:$rds;
    border-radius:$rds;
}
*,:before,:after{box-sizing:border-box}
html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body{margin:0;font-family: $primary-font;font-size:1.3em;color:$primary-color;line-height:1.5}
.floatnone{float: none;}
.floatright{float: right}
.floatleft{float:left}
.center-block{margin: 0px auto !important; display: block;}
.clear{clear: $clear;}
header{
 width: 100%;
 min-height: 85px;position: relative; background: #fff;
 @include border-box();
  figure{
      margin: 0px;padding: 0px;
  }
}
.header__logo{ padding:0px 0 0px;}
.mainmenu{min-height: inherit; display:block;padding:36px 0 5px;}
.navbar{width: calc(100% - 70px);  display: block;min-height: 25px;
&__menu{  @extend %liststyle; }
&__menu--item{float: left; display: inline-block; line-height: 25px;}
&__menu--links{ padding: 10px 13px; color: $linkcolor; font-size: 12px;text-transform: uppercase;font-weight: 600;
}
}

.head-right{padding:35px 0 05px; height: inherit;position: relative;}
.head-cnt{
    @extend %liststyle;
li{float: left;display: inline-block;position: relative; }
li:first-child{ margin-right: 10px;}
    &__phone--link{font-size: 12px;font-weight: 500; color: $linkcolor;margin-top: 6px; display: block;
    }
    &__requestoffer--link{display: block; background: #085c5f; color: #fff; text-align: center; width:127px; height: 30px; text-transform: uppercase; font-size: 13px;line-height: 29px;
    }
}

.footer{min-height:50px; height: auto; width: 100%; display: block;background: #fff;
    &__top{
     background: #fff;    width: 100%; padding: 30px 0; margin: 20px 0 36px;
    }
    &__top--text{color: #858585; margin: 0px; line-height: 1.7; font-size:14.8px;}
    &__top--text p{margin-bottom: 0px;}
    &__bottom{ background: #fff; width: 100%; min-height: 50px; line-height: 49px;  }
    &__copyright{color: #131313; font-size: 14.5px;}
    &-middle{min-height: 513px; position: relative; display: inline-block; width: 100%;
    &__box{margin-bottom:15px;
        & figure{margin-bottom:0px;}
        & img{width: 100%; margin: 0px auto;}
        & p{font-family: 'Quicksand', sans-serif; font-size: 18px; font-weight: 400; font-style: italic; color: #131313; text-align: center; padding: 5px 15px; } 
        & span{font-size: 16px; display: block; color: #ff6b2a;  text-align: center; }
    }
    }
}
.content-wrapper{ width:100%; min-height: 700px; padding: 40px 0;
    background: #f3f3f3;
}
.offer_wrap{text-align: center;
&_heading{
    &--title{
        color: #ff6b2a; font-size: 36px; margin:10px 0 20px 0; font-weight: 700;
    }

}
 &--text{display: block; margin: 0px auto;color: #131313;font-weight: 400;  font-size: 16px;}
}
.steps_wrapper{min-height: 130px;display:block; position: relative; margin:50px auto 20px   ;
&_listing{ @extend %liststyle; display: block; margin: 0px auto; width: 98%;
    &--item{border: 2.5px solid #858585; display: block; width: 120px;height:120px; line-height: 120px; color:#858585;text-transform: uppercase; font-size:20px;
@include bradius(55%);

    }

    &--item:hover{cursor:pointer;}
}
    &__item{ float: left;display: inline-block; margin-right:35px; text-align: center;
        &--current span.steps_wrapper_listing--item{background: #ff6b2a;border:none;color:#fff;}
        &--perv span.steps_wrapper_listing--item{background: #085c5f;border:none;color:#fff;}
    }
    &__item:last-child{margin-right: 0px;}
}
.forms-main-heading{min-height: 40px; width: 100%; text-align: center; position: relative;z-index:0; margin: 40px 0 30px;
&-title{
    text-align: center; background:#f3f3f3;display: inline-block; color: #085c5f; font-size: 30px; text-transform: uppercase;z-index:1;margin: 0px; font-weight: 400;
    padding: 0 40px;
}
&-wrapper{

}
} .forms-main-heading:after{content: "";display: block; width: 100%;height:5px; border-bottom: 3px solid #ff6b2a;left:0px;z-index:-1;
      position:absolute;bottom: 22px;
  }

/*****step_forms_wrapper*********/
.step_forms {
    width: 100%;
    height: inherit;
    position: relative;
    margin-bottom: 40px;
    &__heading {
        background: #085c5f;
        color: #fff;
        padding: 12px 35px;
        &--title {
            font-size: 24px;
            margin: 0px;
            font-weight: 400;
        }
    }
    &__wrap {
        width: 100%;
        padding: 40px 35px 10px;
        background: #fff;
        display: inline-block;
        @extend %shadowbtm2;
    }
    &_label {
        color: #131313;
        display: block;
        font-size: 14px;
        font-weight: 400;
        &--question {
            font-size: 16px;margin: 15px 0;
        }
    }

    &__field-wrapper {
        height: auto;
        display: block;
        margin-bottom:20px;
    }
    &__fields, &__field-wrapper input[type="text"], &__field-wrapper input[type="number"]{
        width: 100%;
        height: 40px;
        background-color: #e7e7e7 !important;
        font-size: 14px;
        outline: none;
        border: none;
        display: block;
        margin: 0 0 10px 0;
        padding: 2px 15px;
        border-radius: 1px;

        &:focus{
            outline: none;
        }
    }
    &__fields--select {
        width: 100%;
        height: 40px;
        background: #e7e7e7 url(../images/arrow-btn.png) no-repeat 97% center  !important;
        font-size: 14px;
        outline: none;
        border: none;
        display: block;
        margin: 0 0 10px 0;
        padding: 2px 15px;text-overflow: "";
        border-radius: 1px;-ms-appearance: none;-o-appearance: none; -webkit-appearance: none;color:#858585;
        -moz-appearance: none;
        &:focus{outline: none;border: none ;}
        &:placeholder{color:#858585; }
    }
    &__form {
        width: calc(100% - 440px);
        display: block;
    }
    &__form input[type="text"] {
        width: 100%;
        height: 40px;
        background: rgba(3, 36, 37, 0.6);
        font-size: 14px;
        outline: none;
        border: none;

    }
    &__form input[type="text"]::placeholder {
        text-align: center;
        color: #fff;
        font-size: 16px
    }
    &__form input[type="button"] {
        background: #fff;
        color: #ff6b2a;
        letter-spacing: 1px;
        height: 40px;
        width: 100%;
        font-weight: 700;
        font-size: 16px;
        border: none;

    }
    &_option{
        display: block;    cursor: pointer;  user-select:none;    text-align: left;  margin-top: 5px; margin-bottom: 12px;
        &+&_option{
            margin-top: 7px;
        }
        input,&_option--text{
            display: none;
            &+span,&+&_option--label{
                display: inline-block;
                position: relative;
                padding-left: 26px; color: #131313; font-size: 14px; font-weight:400;
                &:before{
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    border-radius: 50%;
                    margin-right: 10px;
                    width: 20px;
                    height: 20px;
                    border: 1px solid #969696;
                    background: #fff;
                }
                &:after{
                    content: '';
                    display: block;
                    width: 10px;
                    height: 10px;
                    background: #fd8f5e;
                    position: absolute;
                    border-radius: 50%;
                    top: 5px;
                    left: 5px;
                    opacity: 0;
                    transform: scale(0,0);
                    transition: all .2s cubic-bezier(0.64, 0.57, 0.67, 1.53);
                }
            }
            &:checked+span:after,&:checked+&_option--label:after{
                opacity: 1;
                transform: scale(1,1);
            }
        }
    }
    &_wrap{
        &--btns{
            width:192px;
            text-transform: uppercase;
            font-weight: 600;
            height: 45px;
            background: #f16b2a;
            color: #fff;
            font-size: 18px;
            -webkit-box-shadow: 0px 3px 8px 1px #d6d6d6;
            -moz-box-shadow: 0px 3px 8px 1px #d6d6d6;
            box-shadow: 0px 3px 8px 1px #d6d6d6;
            &--right{float: right;}
            &--left{float: left;}
            &:hover{color: #fff;}
        }
    }

    &__ft{
        position: relative; background: #000 url(../images/ft.png)no-repeat !important; background-position-x: 187px !important;background-position-y: 10px !important;
    }
    &_checks {
        display:flex;
        height:100%; width: auto;
&--cont{ margin:10px 0;display: inline-flex;}

        &-checked, & input[type="checkbox"] {
            display:none;
        }
        &--label-txt{    cursor:pointer; vertical-align: middle; color: #131313; font-weight: 400;}
        &--label-cbx{    width:20px;
            height:20px;
            position:relative;
            display:inline-block;
            vertical-align:middle;
            border:1px solid #858585;
            border-radius:2px;
            transition:0.3s ease;
            cursor:pointer;
            margin-right:7px;}
        &--label-cbx:before {
            content: '';
            position: absolute;
            top: 5px;
            left: 5px;
            margin: -10px 0 0 -10px;
            width: 30px;
            height: 30px;
            border-radius: 100%;
            background: #ff6b2a;
            transform: scale(0);
        }
        &--label-cbx:after {
            content:"";
            position:absolute;
            top:15px;
            left:5px;
            border-bottom:3px solid transparent;
            border-right:3px solid transparent;
        }
        &-checked:checked + &--label-cbx:before , & input[type="checkbox"]:checked + &--abel-cbx:before {
            transform: scale(1);
            opacity:0;
            transition: all 0.6s ease-out;
        }
        & input[type="checkbox"]:checked + &--label-cbx {
            border-color: transparent;
        }
        & input[type="checkbox"]:checked + &--label-cbx:before {
            transform: scale(1);
            opacity:0;
            transition: all 0.6s ease-out;
        }
        input[type="checkbox"]:checked + &--label-cbx:after {
            animation:0.10s DrawMark ease-out 0.1s;
            animation-fill-mode:forwards;
        }
        @keyframes DrawMark {
            0% {
                width:0px;
                height:0px;
                transform:translate(0,0) rotate(45deg);
            }
            100% {
                width:7px;
                height:14px;
                border-bottom:3px solid #ff6b2a;
                border-right:3px solid #ff6b2a;
                transform:translate(0,-15px) rotate(45deg);
            }
        }

    }
}



/*Checkboxes styles*/










/* END CHECKBOX STYLE */